<!-- Simple header with fixed tabs. -->
  <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header mdl-layout--fixed-tabs" >
    <header class="mdl-layout__header">
      <div class="mdl-layout__header-row marg-head">
        <!-- Colored FAB button with ripple -->
        <button class="mdl-button mdl-js-button mdl-button--icon">
          <a onclick="closeTerminos()"><i class="fa fa-arrow-left" aria-hidden="true"></i></a>
        </button>
        <div class="col-12">
          <img src="images/logo_quehacerhoy.png" style="max-width: 30%; margin-left: 120px;">
        </div>
      </div>
    </header>
    <div class="col-12" >
      <div class="row">
        <div class="col s12 mt-4">
          <div class="content-terminos"> 
            <h5> CONDICIONES DE USO Y POLÍTICA DE PRIVACIDAD PARA APLICACIONES MÓVILES Y ACCESO DESDE DISPOSITIVOS MÓVILES <br><br>
              [QUE HACER TABASCO] <br><br>
              CONDICIONES GENERALES DE USO</h5>
              <p>
              El presente documento tiene por objeto establecer las Condiciones Generales de Uso de la aplicación móvil “Que Hacer Tabasco” de la empresa Rubik estrategia digital, con domicilio social en la ciudad de Villahermosa, Tabasco México, calle Av.27 de febrero, colonia Tabasco 2000. 
              Rubik se reserva el derecho a modificar las presentes Condiciones de Uso con el objeto de adecuarlas a la legislación vigente aplicable en cada momento. Las presentes Condiciones de Uso no excluyen la posibilidad de que determinados Servicios de las aplicaciones, por sus características particulares, sean sometidos, además de a las Condiciones Generales de Uso, a sus propias condiciones particulares de uso.
              La Empresa podrá, en cualquier momento y sin necesidad de previo aviso, realizar cambios y actualizaciones de las presentes Condiciones de Uso y de la Política de Privacidad. Estos cambios serán publicados en la Web y en la Aplicación y serán efectivos desde el momento de su publicación.
              Como consecuencia de lo anterior, el Usuario deberá revisar periódicamente si hay cambios en estas Condiciones y, tanto si existe consentimiento expreso como si no, si el Usuario continúa usando el Servicio tras la publicación, ello implica la aceptación y asunción de los mismos. En caso de que no esté de acuerdo con las actualizaciones de las Condiciones de uso o de la Política de Privacidad, podrá renunciar dejando de usar el Servicio.
              El acceso y descarga de la aplicación es gratuito salvo en lo relativo al coste de la conexión a través de la red de telecomunicaciones suministrada por el proveedor de acceso contratado por los usuarios. </p>
            
            <h6> USO DE LA APLICACIÓN MÓVIL Y SUS SERVICIOS </h6>
              <p> El Usuario reconoce y acepta que el uso de los contenidos y/o servicios ofrecidos por la presente aplicación móvil será bajo su exclusivo riesgo y/o responsabilidad. El Usuario se compromete a utilizar la presente aplicación móvil y todo su contenido y Servicios de conformidad con la ley, la moral, el orden público y las presentes Condiciones de Uso, y las Condiciones Particulares que, en su caso, le sean de aplicación. Asimismo, se compromete hacer un uso adecuado de los servicios y/o contenidos de la aplicación móvil y a no emplearlos para realizar actividades ilícitas o constitutivas de delito, que atenten contra los derechos de terceros y/o que infrinjan la regulación sobre propiedad intelectual e industrial, o cualesquiera otras normas del ordenamiento jurídico aplicable.
              El usuario deberá contar con un dispositivo móvil inteligente (Smartphone) o Tableta con sistema operativo Android o IOS, cualquiera de estos con acceso a internet, ambos seguros y confiables.
              En la forma permitida por la ley, los materiales de la aplicación se suministran sin garantía de ningún género, expresa o implícita, incluyendo sin limitación las garantías de calidad satisfactoria, comerciabilidad, adecuación para un fin particular o no infracción, por tanto, Rubik no garantiza el funcionamiento adecuado en los distintos sistemas operativos o dispositivos en los cuales se haga uso de la aplicación.
              Para acceder a la aplicación, el usuario deberá contar con una cuenta personal de Facebook, por medio del cual podrá iniciar sesión en la aplicación Que Hacer Tabasco, y de dicha cuenta de Facebook serán usados por consentimiento del usuario sus datos para la creación de un ID personal. </p>
            
              <h6> OBLIGACIONES DE LOS USUARIOS </h6>
              <p> El Usuario se obliga a usar la aplicación y los contenidos encontrados en ella de una manera diligente, correcta, lícita y en especial, se compromete a NO realizar las conductas descritas a continuación:</p>
              <ul> 
                <li> <strong>(a)</strong>	Utilizar los contenidos de forma, con fines o efectos contrarios a la ley, a la moral y a las buenas costumbres generalmente aceptadas o al orden público; </li>

              <li> <strong>(b)</strong>	Reproducir, copiar, representar, utilizar, distribuir, transformar o modificar los contenidos de la aplicación, por cualquier procedimiento o sobre cualquier soporte, total o parcial, o permitir el acceso del público a través de cualquier modalidad de comunicación pública; </li>

              <li><strong> (c)</strong>	Utilizar los contenidos de cualquier manera que entrañen un riesgo de daño o inutilización de la aplicación o de los contenidos o de terceros; </li>

              <li> <strong>(d)</strong>	Suprimir, eludir o manipular el derecho de autor y demás datos identificativos de los derechos de autor incorporados a los contenidos, así como los dispositivos técnicos de protección, o cualesquiera mecanismos de información que pudieren tener los contenidos; </li>

              <li> <strong>(e)</strong>	Utilizar la aplicación y los contenidos con fines lícitos y/o ilícitos, contrarios a lo establecido en estos Términos y Condiciones, o al uso mismo de la aplicación, que sean lesivos de los derechos e intereses de terceros, o que de cualquier forma puedan dañar, inutilizar, sobrecargar o deteriorar la aplicación y los contenidos o impedir la normal utilización o disfrute de esta y de los contenidos por parte de los usuarios. </li>

              <li> <strong>(f)</strong>	Difundir, transmitir o poner a disposición de terceros cualquier tipo de información, elemento o contenido que constituya publicidad ilícita o desleal. </li>

              <li> <strong>(g)</strong>	Suplantar a otros usuarios utilizando sus claves de registro a los distintos servicios y/o contenidos de los Portales. </li>

              </ul>
            
              <h6> PROPIEDAD INTELECTUAL E INDUSTRIAL </h6>
              <p> Rubik se reserva todos los derechos sobre la marca Que Hacer Tabasco, nombre comercial o demás signos distintivos, las patentes, y la propiedad intelectual, con respecto al contenido y diseño de la aplicación.
              Todos los contenidos de la misma, incluyendo sin carácter limitativo, textos, gráficos, imágenes, su diseño y los derechos de propiedad intelectual que pudieran corresponder al contenido de cada empresa, así como las marcas, nombres comerciales o cualquier otro signo distintivo son propiedad de cada uno de los clientes ingresados en la aplicación, quedando reservados todos los derechos sobre los mismos. </p>
              <h6> EXCLUSION DE GARANTÍAS. RESPONSABILIDAD </h6>
              <p> Rubik no garantiza en todo momento la disponibilidad de acceso y continuidad del funcionamiento de la presente aplicación móvil y de sus servicios, por lo que Rubik no será responsable, con los límites establecidos en el Ordenamiento Jurídico vigente, de los daños y perjuicios causados al Usuario como consecuencia de la indisponibilidad, fallos de acceso y falta de continuidad de la presente aplicación móvil y sus Servicios.
              La descarga, acceso y uso de la aplicación en los dispositivos móviles o similares, no implica la obligación por parte de Rubik de controlar la ausencia de virus, gusanos o cualquier otro elemento informático dañino. Corresponde al Usuario, en todo caso, la disponibilidad de herramientas adecuadas para la detección y desinfección de programas informáticos dañinos. </p>
              <h6> POLITICA PRIVACIDAD </h6>
              <p> Rubik desea poner en conocimiento de los usuarios y clientes de la aplicación, la política llevada a cabo respecto al tratamiento de todos los datos de carácter personal que por la utilización de las funciones de la/s aplicación/es se faciliten a la empresa. </p>
              <h6> FINALIDAD DEL FICHERO </h6>
              <p> Todos los datos que se solicitan a los usuarios y clientes a través de la aplicación para dispositivos móviles serán necesarios para prestar el servicio objeto del servicio en virtud del cual se ha procedido a la descarga e instalación de la aplicación en los correspondientes dispositivos. </p>
              <h6> CONSENTIMIENTO </h6>
              <p> La utilización de la aplicación dará lugar al tratamiento de datos de carácter personal que Rubik, en su caso, llevará a cabo de acuerdo con las normas y procedimientos internos establecidos al efecto, que son conocidos por los clientes y usuarios y autorizados por éstos. </p>
              <h6> GARANTÍA Y PROTECCIÓN DE DATOS</h6>
              <p> En el tratamiento de los datos de carácter personal, Rubik se compromete a garantizar y proteger las libertades públicas y los derechos fundamentales de las personas físicas de los ficheros y, especialmente, su honor y su intimidad familiar y personal, obligándose en este sentido, a efectuar el correspondiente tratamiento de datos de acuerdo con la normativa vigente en cada momento y a guardar el más absoluto secreto en relación con la información entregada por los clientes y usuarios. <br>
              Los datos de carácter personal objeto de tratamiento no se utilizarán para otras finalidades que no se encuentren aquí recogidas o, en su caso, por otro documento o contrato que vinculase a ambas partes con condiciones particulares. </p>
              <h6> EJERCICIO DE LOS DERECHOS DE ACCESO, RECTIFICACIÓN, CANCELACIÓN Y OPOSICIÓN</h6>
              <p> Rubik informa de que los usuarios podrán ejercitar los derechos de acceso, rectificación, cancelación y oposición mediante el envío de un correo electrónico a correo de la empresa. </p>
              <h6> MENORES DE EDAD </h6>
              <p> Con carácter general, para hacer uso de los Servicios de la presente aplicación móvil los menores de edad deben haber obtenido previamente la autorización de sus padres, tutores o representantes legales, quienes serán responsables de todos los actos realizados a través de la presente aplicación móvil por los menores a su cargo. </p>
              <h6> DURACIÓN Y TERMINACIÓN </h6>
              <p> La prestación de los servicios y/o contenidos de la presente aplicación móvil tiene una duración indefinida. Sin perjuicio de lo anterior, Rubik está facultada para dar por terminada, suspender o interrumpir unilateralmente, en cualquier momento y con la necesidad de un preaviso, la prestación del servicio y de la presente aplicación móvil y/o de cualquiera de los servicios, sin perjuicio de lo que se hubiera dispuesto al respecto en las correspondientes condiciones particulares. </p>
            </div>
        </div>
      </div>
    </div>
  </div>