<!-- Simple header with fixed tabs. -->
  <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header mdl-layout--fixed-tabs" >
    <header class="mdl-layout__header">
      <div class="mdl-layout__header-row marg-head">
        <!-- Colored FAB button with ripple -->
        <button class="mdl-button mdl-js-button mdl-button--icon">
          <a onclick="closeRecomendacion()"><i class="fa fa-arrow-left" aria-hidden="true"></i></a>
        </button>
        <div class="col-12">
          <img src="images/logo_quehacerhoy.png" style="max-width: 30%; margin-left: 120px;">
        </div>
      </div>
    </header>
    <div class="col-12" >
      <div class="row">
        <div class="col s12">
          <form>
            <div class="input-field col s12">
              <label for="asunto">Asunto:</label>
              <input type="text" class="form-control" id="asunto">
            </div>
            <div class="input-field col s12">
              <label for="comentarios">Comentarios:</label>
              <textarea class="materialize-textarea" rows="5" id="comentarios"></textarea>
            </div>
            <a type="submit" id="sendComentario" class="btn btn-success right" role="button"> Enviar<i class="material-icons right">send</i></a>
          </form>
        </div>
      </div>
    </div>
  </div>