<!-- Simple header with fixed tabs. -->
  <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header mdl-layout--fixed-tabs" >
    <header class="mdl-layout__header">
      <div class="mdl-layout__header-row marg-head">
        <!-- Colored FAB button with ripple -->
        <button class="mdl-button mdl-js-button mdl-button--icon">
          <a onclick="closeConocenos()"><i class="fa fa-arrow-left" aria-hidden="true"></i></a>
        </button>
        <div class="col-12">
          <img src="images/logo_quehacerhoy.png" style="max-width: 30%; margin-left: 120px;">
        </div>
      </div>
    </header>
    <div class="col-12" >
      <div class="row">
        <div class="col s12 mt-2">
          <p>Que Hacer Hoy Tabasco, es una iniciativa para acercar a las empresas Tabasqueñas a los clientes que quisieran conocer las actividades culturales, lugares a conocer o actividades que puedan realizar en nuestro estado.</p>
        </div>
      </div>
    </div>
  </div>