<!-- Simple header with fixed tabs. -->
  <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header mdl-layout--fixed-tabs" >
    <header class="mdl-layout__header">
      <div class="mdl-layout__header-row marg-head">
        <!-- Colored FAB button with ripple -->
        <button class="mdl-button mdl-js-button mdl-button--icon">
          <a onclick="closeLoginquehacer()"><i class="fa fa-arrow-left" aria-hidden="true"></i></a>
        </button>
        <div class="col-12">
          <img src="images/logo_quehacerhoy.png" style="max-width: 30%; margin-left: 120px;">
        </div>
      </div>
    </header>
    <div class="col-12" >
      <div class="row">
        <div class="col s12 mt-2">
          <form id="formAddUser" method="post">
            <div class="input-field col s12">
              <input type="text" placeholder="Correo:" class="validate" id="correoLogin">
            </div>
            <button type="button" onclick="sendLogin()" class="btn btn-success right mt-1" role="button"> Entrar<i class="material-icons right">send</i></button>
          </form>
        </div>
      </div>
    </div>
  </div>
