html, body {
	font-family: 'Raleway', sans-serif !important;
	margin-top: 0px !important;
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	margin: 0px;
	padding: 0px;
	overflow-x: hidden;
}

section#login {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 999;
		background-color: white;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
}

.color-face{
	background-color: #3b5998;
}

.mdl-layout__header {
	background: white;
}

.mdl-switch {
	width: 50% !important;
}

.mdl-layout__drawer-button i{
	color: #f9a846;
	background: white;
}

.mdl-layout-title {
	background: #4ec2bf;
	font-size: 28px;
	padding-top: 15px;
	color: white;
	padding-left: 10px !important;
}

.mdl-navigation__link {
	height: 60px;
}

.carousel {
	box-shadow: 2px 2px 10px RGBA(0,0,0, .5);
	margin-top: 5px;
}

.mdl-navigation {
	background: #4ec2bf;
	height: 10px;
}

.settings {
	color: black;
	padding-left: 15px;
	padding-top: 25px;
	font-size: 14px;
}

.carousel {
	padding-top: 15px;
	padding-bottom: 15px;
	height: auto;
}

.item img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.mdl-layout__tab-bar {
	background: #f9a846;
}

hr {
	margin-top: 0px !important;
	margin-bottom: 0px !important;
	border: 0 !important;
	border-top: 1px solid lightgray !important;
}

.small-hr {
	width: 80%;
	margin-left: 20px;
	margin-top: 0px !important;
	margin-bottom: 0px !important;
	border: 0 !important;
	border-top: 1px solid lightgray !important;
}

.card {
	flex-flow: row;
	align-items: center;
	margin-left: 5px;
	margin-right: 5px;
}

.card-content .nombre-black {
	font-size: 20px !important;
	font-weight: bold;
}

.mdl-layout__tab-panel {
	margin-top: 2px !important;
}

.waves-effect {
	text-align: left;
    border-top: 1px solid lightgray;
    width: 100%;
    height: auto !important;
}

.buttons {
	margin-top: 20px;
}

.waves-effect.nombre-black p {
	font-size: 20px !important;
	font-weight: bold;
}

.waves-effect.nombre-black p i {
	font-size: 20px !important;
}

.waves-effect .italic {
	font-style: italic;
	text-transform: lowercase;
	font-size: 14px;
}
nav i, nav [class^="mdi-"], nav [class*="mdi-"], nav i.material-icons {
    display: inline-block;
}
.bx-wrapper{
	margin-bottom: 0 !important; 
	border: 0px !important;
}

#publicidad, #recomendaciones, #lisPubCategory, #load, #conocenos, #terminos{
	height: auto;
	left: 100%;
	width: 100%;
	background-color: white;
	position: absolute;
	z-index: 99999;
}
#load{
	background-color: rgba(255, 255, 255, 0.8);
	left: 0;
	height: 100%;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	display: none;
}

/*  Template */

.mdl-layout__header {
	background: white;
}

.item img {
	width: 100%;
	display: inline-block;
}

.mdl-button {
	margin-left: 15px;
}

.mdl-button i {
	color: #f9a846;
}

.mdl-layout__header-row {
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 50px;
}

.mdl-layout__header-row i {
	padding-top: 0px;
	padding-left: 0px;
}

.nombre-lugar {
	width: 100%;
	margin-top: 0px;
	padding: 3px;
	background-color: #f9a846;
	color: white;
	text-align: center;
}

.resena {
	width: 100%;
	margin: 0rem 0 0rem 0;
	padding: 20px;
	padding-top: 11px;
	padding-bottom: 1px;
	background-color: #f5f5f5;
	text-align: center !important;
}

.collection-item.avatar{
	padding-top: 20px !important;
}

.row.espacio {
	margin-bottom: 0px !important;
}
.config {
	font-size: 1.4em;
}

.mt-2{
	margin-top: 2em;
}

.mt-4{
	margin-top: 2em;
}
nav{
	height: 50px;
}
nav .input-field label{
	top: -11px;
}